<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>MEAN stack in class review</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>MEAN stack in class review</h1>

    <div ng-controller='mondayController'>
      <button ng-click='whatAreWeTryingToDo()'>Check Input</button>
    </div>

    <!-- this model is available as $scope.MODELNAME in all controllers (we think, testing needed) -->
    <input type="text" ng-model='notATextArea' value="" placeholder="2 way tester">
    {{ notATextArea }}

  </body>
</html>
